
      <ul>
        <% @contacts.each do |contact| %>
          <li><%= contact.first_name %> <%= contact.last_name %>,&nbsp;&nbsp;<%= contact.email %>
          </li>
        <% end %>
      </ul>
    <br>
    <a href="/">Go to Home Page</a>
