/*--------------Header, navbar, and footer styling-------*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
    background-color: black;
    text-align: center;
    position: relative;
    left: 0px;
    top: 0px;
    display: block;
    font-size: 3em;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding:  20px;
  }

nav ul {
  list-style-type: none;
  position: relative;
  left: 0px;
  padding-left: 0px;
}

nav li {
    font-family: Arial, sans-serif;
    background-color: #cccccc;
    text-align: center;
    font-size: 1.5em;
    margin-top: 2px;
    padding: 10px;
    list-style-type: none;
    position: relative;
    left: 0px;
    font-weight: 900;
    display: block;
  }

  nav li a {
    color: white;
    text-decoration: none;

  }

nav li a:hover {
 color: #ec7f7f;
}



/*--------Body content styling--------------------------*/


main {
  width: 90%;
  height: 100%;
  margin: 0 auto;
/* min-height: 450px; */
}

div.pinkbar {
  background-color: #ec7f7f;
  width: 100%;
  margin-top: 20px;
/*min-height: 665px; */
}
div.pinkbar h4 {
  padding: 20px;
  font-size: 2em;
  display: inline-block;
}
div.pinkbar h4.emphasis {
  font-weight: 700;
  border-bottom: 2px solid #3ef7ef;
  display: inline-block;
  padding: 0px;
  font-size: 2.5em;
}

p {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 290px;
  font-size: 2em;
}

div.contact-list ul {
  list-style-type: none;
  padding: 0px;


}

div.contact-list li {
  list-style-type: none;
  padding: 35px;
  margin-top: 20px;
  background-color: #3ef7ef;
  font-size: 2em;
  font-family: Arial, sans-serif;
  font-weight: 700;
}

.edit {
  font-size: 20px;
  display: inline-block;
  padding: 0px;
}

/* ----------- Footer ----------- */
footer {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin-top: 20px;
}

footer p {
padding: 10px;
font-size: 1em;

}
